body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding: 60px;
    position: relative;
    text-align: right;
    font-size: 20pt;
    background-color: darkslategrey;
}

img {
    border-radius: 10%;
    float: left;
    width: 15%;
}

nav {
    display: flex;
    justify-content: right;
    margin-bottom: -1%;
}

button {
    width: 150px;
    margin: 0.5%;
    font-size: 90%;
    color: black;
    background-color: lightgoldenrodyellow;
    border: 1px solid black
}

button:hover {
    background-color: lightslategray;
}

main {
    display: flex;
  }

aside {
    flex: 100%;
    font-size: 20pt;
    padding-left: 40px;
    padding-right: 30px;
    background-color: lightslategray;
}

.About-Me-Section {
    padding-left: 50px;
    padding-top: 40px;
    font-size: large;
}

.About-Me{
    text-align: right;
    padding: 50px;
    border-right: solid 3pt
}

.Work{
    text-align: right;
    padding: 50px;
    border-right: solid 3pt;
}

.Contact-Info {
    text-align: right;
    padding: 50px;
    border-right: solid 3pt;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 40px;
}

.main-card{
    text-align: center;
}

.small-card{
    display: flex;
}

.base-card{
    display: flex;
}
